*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* background-color: beige; */
}

input:focus{
    outline: 1px solid #a18e8e;
}

/* Start Anchors */
a{
    text-decoration: none;
    color: black;
}

a {
    padding: 11px 11px;
    border-radius: 9px;
}

a.active {
    font-weight: 700;
    color: rgb(172, 57, 57);
}

.logo{
    font-style: italic;
    letter-spacing: -1px;
    color: rgb(187, 50, 50);
    font-size: 16px;
}

.login,
.signup{
    font-weight: 800;
    padding: 6px 10px;
    font-weight: 700;
    border: 2px solid #9c3d3d;
}

.login{
    color: #943e3e;
}

.signup{
    background-color: #9c3d3d;
    color: #fff;
    margin-right: 10px;
}

.no--style{
    padding: 0;
    width: 100%;
}
/* End Anchors */
/* Start Buttons */
.button{
    border-radius: 6px;
    padding: 8px 10px;
    color: white;
    background-color: #7a3c3c;
    border: none;
    width: 100%;
}

.button:hover{
    background-color: #943e3e;

}

.arrow--background{
    position: absolute;
    top: 40%;
    cursor: pointer;
    border-radius: 10px;
    background-color: #eee;
    padding: 7px 10px;
}

.arrow--left{
    left: 23px;
}

.arrow--right{
    right: 23px;
}

.basic--color{
    color: #b85454;
    font-weight: 700;
}

.basic--color:hover{
    color: #9c3d3d;
}

.return--btn{
    position: relative;
    top: 18px;
}

.form--links{
    font-size: 14px;
}

.fit--width{
    width: fit-content;
}
.margin--auto{
    display: block;
    margin: 30px auto;
}
.cancel{
    background-color: #555;
}
.cancel:hover{
    background-color: #383434;
}
/* End Buttons */
/* Start Header */
header{
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0 40px 0 0;
    border-bottom: 2px solid var(--head-color);
    padding: 5px;
    border-bottom: 2px solid #eee;
}
nav{
    max-width: 80%;
    margin: auto;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}
/* End Header */
/* Start Home Page */
.landing{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: change-background 10s infinite;
}

.landing::before{
    /* content: ""; */
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2222229d;
}

.landing h1{
    color: #ffffff;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
}

.landing p{
    color: #000000;
    top: 10px;
    font-size: 30px;
    font-style: italic;
    width: 80%;
    text-align: center;
}

.about__description{
    line-height: 1.7;
    width: 70%;
    word-break: break-all;
    
}
/* End Home Page */
/* Start Products Page */
.filter{
    width: 200px;
    background-color: white;
    border-radius: 6px;
    height: 35px;
}

.filter__menu{
    display: flex; 
    justify-content: space-between; 
    align-items:center;
}

.color--circle{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.search{
    margin: 20px 0;
}

.search input[type="search"]{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px 0 0 6px;
}

.search input[type="submit"]{
    padding: 10px;
    background-color: rgb(189, 106, 106);
    border: 1px solid rgb(189, 106, 106);
    color: white;
    border-radius: 0 6px 6px 0;
}

.no--found{
    text-align: center;
    font-size: 20px;
    width: 50%;
    margin: 150px auto;
}
/* End Products Page */
/* Start Single Products Page */
.alice-carousel__dots{
    display: flex;
    align-items: center;
    justify-content: center;
}

.related__products > div{
    margin-bottom: 50px;
}

.related__products .image{
    width: 150px;
}

.related__products .image img{
    width: 100%;
    filter: opacity(0.5)
}

.related__products .image img:hover {
    filter: opacity(1);
}
/* End Single Products Page */
/* Start Signup Page */
.form--signup,
.form--login{
    border-radius: 10px;
    background-color: #fff;
    max-width: 448px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 40px 0;
    box-shadow: 0 0 10px #ccc;
}

.form--signup{
    margin: 30px auto;
}

.form--login{
    margin: 100px auto;
}
/* End Signup Page */
/* Start Information Page */
.flex-between{
    margin-left: 50px;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.input__info{
    padding: 5px;
}
/* End SignInformation Page */
.input{
    border: 1px solid rgb(212, 212, 212);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    width: 100%;
    background-color: transparent;
    padding: 0.55rem;
    font-size: 14px; 
    line-height: 1.75rem;
    /* margin-bottom: 10px; */
}

.input:focus{
    border-color: transparent;
    outline: 2px solid rgb(107, 129, 190);
}

.error--msg{
    font-size: small;
    color: rgb(192, 16, 16);
    margin: 0;
}

.spinner {
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-left: 8px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.panel{
    border-right: 2px solid #a18e8e;
    height: 90vh;
}

/* Start Footer */
.footer{
    border-top: 1px solid #ccc;
    padding-top: 20px;
    background-color: #222;
    color: white;
}
.footer > section{
    display: flex;
    padding: 0 5em; 
    justify-content: space-between;
    align-items: center;
    color: var(--secandory-color);
    margin-bottom: 10px;
}

.footer__subscribe{
    display: flex;
}

.footer__subscribe input[type="email"]{
    outline: none;
    padding: 1em;
    border-radius: 7px 0 0 7px;
    border: none;
    width: 80%;    
}

.footer__subscribe input[type="submit"]{
    outline: none;
    padding: 1em;
    border-radius: 0  7px 7px 0;
    border: none;
    font-weight: 600;
    color: white;
    background-color: #b85454;
}
.footer__icons{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.contact--btn{
    color: #b85454;
}

.footer__title{
    font-weight: 700;
}
.footer-address{
    font-size: 14px;
}
.footer__copyrights{
    text-align: center;
    font-size: 1rem;
    padding: 1em;
    border-top: 1px solid #ccc;
    color: var(--secandory-color);
    margin: 0;
    position: relative;
}

/* End Footer */

/* Start Media */
@media screen and  (max-width: 767px) {
    .filter__menu{
        flex-direction: column;
        margin-bottom: 20px;
    }
    .card{
        flex-direction: column;
    }
    .card img{
        width: 100%;
    }
    .footer > section{
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
}
/* End Media */
/* Start Animation */
@keyframes change-background {
    35%{
        background-image: url("../public/images/landing1.jpg");
    }
    75%{
        background-image: url("../public/images/landing2.jpg");
    }
    0%,100%{
        background-image: url("../public/images/landing3.jpg");
    }
}
/* End ANimation */